<h2 translate="Perfil"></h2>

<!-- <p>{{titular.Nome}},
    <span translate>seja bem-vindo(a)!</span>
</p>
<p>O prazo limite é dia {{grupo.deadlineInscricao}}.</p> -->

<p>Seja bem-vindo(a)!</p>
<p>Para que possamos organizar sua viagem da melhor forma, pedimos que preencha esse formulário até o dia 19/02/2020.
    Contamos com a sua ajuda!</p>
<p>Lembrando que os campos marcados com * são de preenchimento obrigatório.</p>

<form name="userForm" ng-submit="submitForm(userForm.$valid)" ng-if="titular">
    <fieldset ng-repeat="atribuido in formulario.lists['Campos definidos'] | groupBy:'atribuicao'"
        ng-disabled="disableFields()">

        <h3>
            {{atribuido[0].atribuicao | translate}}
            <div class="togglebutton" ng-if="atribuido[0].atribuicao === 'Acompanhante'">
                <label>
                    <span translate>Irá levar acompanhante</span>?
                    <input type="checkbox" checked="" ng-model="titular.Wave" ng-false-value="0" ng-true-value="1">
                </label>
            </div>
        </h3>

        <!-- campos customizados para titular -->

        <ng-template ng-if="atribuido[0].atribuicao === 'Titular'">
            <div class="form-group">
                <label for="titular.PerfilViajante">Qual documento para embarque? *</label>
                <select class="form-control" name="tipoDeDocumento" ng-model="titular.PerfilViajante"
                    ng-change="syncForm()" ng-required="true">
                    <option value="rg">RG</option>
                    <option value="passaporte">Passaporte</option>
                </select>

                <span class="material-icons form-control-feedback"
                    ng-if="userForm['tipoDeDocumento'].$error.required">clear</span>
            </div>

            <!-- numero do rg do titular -->

            <div class="form-group" ng-if="titular.PerfilViajante === 'rg'">
                <label for="TitularRg.Numero">Número do RG *</label>
                <input type="text" id="TitularRg.Numero" name="TitularRg.Numero" class="form-control" maxlength="100"
                    placeholder="" ng-required="true" ng-model="titular.Rg.Numero">
                <span class="material-icons form-control-feedback"
                    ng-if="userForm['TitularRg.Numero'].$error.required">clear</span>
            </div>

            <!-- emissao do rg do titular -->

            <div class="form-group" ng-if="titular.PerfilViajante === 'rg'">
                <label for="dataRg.EmissaoTitular">Emissão do RG * <br><small> <em>dd/mm/aaaa</em></small></label>
                <div class="input-group">
                    <input type="text" class="form-control" name="dataRg.EmissaoTitular" id="dataRg.EmissaoTitular"
                        ng-model="titular.Rg.Emissao" uib-datepicker-popup="d!/M!/yyyy" ng-required="true"
                        is-open="dataRg.EmissaoTitular.opened" show-button-bar="false" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default"
                            ng-click="abreCalendario(dataRg.EmissaoTitular)"><i
                                class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
                <span class="material-icons form-control-feedback"
                    ng-if="userForm['dataRg.EmissaoTitular'].$error.required || userForm['dataRg.EmissaoTitular'].$invalid">clear</span>
            </div>

            <!-- numero do passaporte do titular -->

            <div class="form-group" ng-if="titular.PerfilViajante === 'passaporte'">
                <label for="nmrDoPassaporteTitular">Número do Passaporte *</label>
                <input type="text" id="nmrDoPassaporteTitular" name="nmrDoPassaporteTitular" class="form-control"
                    maxlength="100" placeholder="" ng-required="true" ng-model="titular.Passaporte.Numero">
                <span class="material-icons form-control-feedback"
                    ng-if="userForm['nmrDoPassaporteTitular'].$error.length.required">clear</span>
            </div>

            <!-- validade do passaporte do titular -->

            <div class="form-group" ng-if="titular.PerfilViajante === 'passaporte'">
                <label for="dataPassaporteTitular">Validade do Passaporte * <br><small>
                        <em>dd/mm/aaaa</em></small></label>
                <div class="input-group">
                    <input type="text" class="form-control" name="dataPassaporteTitular" id="dataPassaporteTitular"
                        ng-model="titular.Passaporte.Validade" uib-datepicker-popup="d!/M!/yyyy" ng-required="true"
                        is-open="dataPassaporteTitular.opened" show-button-bar="false" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default"
                            ng-click="abreCalendario(dataPassaporteTitular)"><i
                                class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
                <span class="material-icons form-control-feedback"
                    ng-if="userForm['dataPassaporteTitular'].$error.required || userForm['dataPassaporteTitular'].$invalid">clear</span>
                <div class="alert alert-primary text-center" role="alert"
                    ng-if="titular.Passaporte.Validade < validadePassaporteMaxima">
                    <p><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> Seu passaporte
                        precisa ser renovado para a viagem</p>
                </div>
            </div>

        </ng-template>

        <!-- campos customizados para acompanhante -->

        <ng-template ng-if="titular.Wave === 1 && atribuido[0].atribuicao === 'Acompanhante'">
            <div class="form-group">
                <label for="acompanhante.PerfilViajante">Qual documento para embarque? *</label>
                <select class="form-control" name="tipoDeDocumentoAcompanhante" ng-model="acompanhante.PerfilViajante"
                    ng-change="syncForm()" ng-required="true">
                    <option value="rg">RG</option>
                    <option value="passaporte">Passaporte</option>
                </select>
                <span class="material-icons form-control-feedback"
                    ng-if="userForm['tipoDeDocumentoAcompanhante'].$error.required">clear</span>
            </div>

            <!-- numero do rg do acompanhante -->

            <div class="form-group" ng-if="acompanhante.PerfilViajante === 'rg'">
                <label for="AcompanhanteRg.Numero">Número do RG *</label>
                <input type="text" id="AcompanhanteRg.Numero" name="AcompanhanteRg.Numero" class="form-control"
                    maxlength="100" placeholder="" ng-required="true" ng-model="acompanhante.Rg.Numero">
                <span class="material-icons form-control-feedback"
                    ng-if="userForm['AcompanhanteRg.Numero'].$error.required">clear</span>
            </div>

            <!-- emissao do rg do acompanhante -->

            <div class="form-group" ng-if="acompanhante.PerfilViajante === 'rg'">
                <label for="dataRg.EmissaoAcompanhante">Emissão do RG * <br><small> <em>dd/mm/aaaa</em></small></label>
                <div class="input-group">
                    <input type="text" class="form-control" name="dataRg.EmissaoAcompanhante"
                        id="dataRg.EmissaoAcompanhante" ng-model="acompanhante.Rg.Emissao"
                        uib-datepicker-popup="d!/M!/yyyy" ng-required="true" is-open="dataRg.EmissaoAcompanhante.opened"
                        show-button-bar="false" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default"
                            ng-click="abreCalendario(dataRg.EmissaoAcompanhante)"><i
                                class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
                <span class="material-icons form-control-feedback"
                    ng-if="userForm['dataRg.EmissaoAcompanhante'].$error.required || userForm['dataRg.EmissaoAcompanhante'].$invalid">clear</span>
            </div>

            <!-- numero do passaporte do acompanhante -->

            <div class="form-group" ng-if="acompanhante.PerfilViajante === 'passaporte'">
                <label for="nmrDoPassaporteAcompanhante">Número do Passaporte *</label>
                <input type="text" id="nmrDoPassaporteAcompanhante" name="nmrDoPassaporteAcompanhante"
                    class="form-control" maxlength="100" placeholder="" ng-required="true"
                    ng-model="acompanhante.Passaporte.Numero">
                <span class="material-icons form-control-feedback"
                    ng-if="userForm['nmrDoPassaporteAcompanhante'].$error.length.required">clear</span>
            </div>

            <!-- validade do passaporte do acompanhante -->

            <div class="form-group" ng-if="acompanhante.PerfilViajante === 'passaporte'">
                <label for="dataPassaporteAcompanhante">Validade do Passaporte * <br><small>
                        <em>dd/mm/aaaa</em></small></label>
                <div class="input-group">
                    <input type="text" class="form-control" name="dataPassaporteAcompanhante"
                        id="dataPassaporteAcompanhante" ng-model="acompanhante.Passaporte.Validade"
                        uib-datepicker-popup="d!/M!/yyyy" ng-required="true" is-open="dataPassaporteAcompanhante.opened"
                        show-button-bar="false" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default"
                            ng-click="abreCalendario(dataPassaporteAcompanhante)"><i
                                class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
                <span class="material-icons form-control-feedback"
                    ng-if="userForm['dataPassaporteAcompanhante'].$error.required || userForm['dataPassaporteAcompanhante'].$invalid">clear</span>
                <div class="alert alert-primary text-center" role="alert"
                    ng-if="acompanhante.Passaporte.Validade < validadePassaporteMaxima">
                    <p><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> Seu passaporte
                        precisa ser renovado para a viagem</p>
                </div>
            </div>

        </ng-template>
        <!-- <pre>{{userForm | json}}</pre> -->

        <div class="form-group" ng-repeat="campo in atribuido"
            ng-if="(atribuido[0].atribuicao === 'Titular') || (titular.Wave === 0 && atribuido[0].atribuicao !== 'Acompanhante') || (titular.Wave === 1 && atribuido[0].atribuicao === 'Acompanhante')">

            <!-- <pre>{{campo | json}}</pre> -->

            <!-- label padrao para todos os campos -->

            <label for="{{atribuido[0].atribuicao + campo.key}}">
                <span>{{checkLabel(campo.label, campo.customLabel)}}</span>
                <span ng-show="campo.obrigatorio">*</span>
                <br>
                <small
                    ng-if="campo.descricaoLonga || campo.customDescricaoLonga">{{campo.descricaoLonga | iif : campo.descricaoLonga : campo.customDescricaoLonga}}</small>
                <small> <em>{{campo.customPlaceholder | iif : campo.customPlaceholder : campo.placeholder}}</em></small>
            </label>

            <!-- campos de texto / tel -->

            <input
                ng-if="(campo.type === 'text' && campo.colmaSeparatedOptions === null ) || (campo.type === 'tel') || (campo.type === 'number')"
                type="{{campo.type}}" id="{{atribuido[0].atribuicao + campo.key}}"
                name="{{atribuido[0].atribuicao + campo.key}}" class="form-control" maxlength="{{campo.tamanhoMaximo}}"
                minlength="{{campo.tamanhoMinimo}}" placeholder="" ui-mask="{{campo.mascara}}"
                ng-required="campo.obrigatorio" ng-model="campo.value">

            <!-- campo de data em uma string -->

            <div class="input-group" ng-if="(campo.type === 'date-string')">
                <input type="text" class="form-control" name="{{atribuido[0].atribuicao + campo.key}}"
                    id="{{atribuido[0].atribuicao + campo.key}}" ng-model="campo.value"
                    uib-datepicker-popup="d!/M!/yyyy" ng-required="campo.obrigatorio" is-open="campo.opened"
                    show-button-bar="false" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="abreCalendario(campo)"><i
                            class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </div>


            <!-- email (lowercase) -->

            <input ng-if="(campo.type === 'email')" type="{{campo.type}}" id="{{atribuido[0].atribuicao + campo.key}}"
                name="{{atribuido[0].atribuicao + campo.key}}" class="form-control" maxlength="{{campo.tamanhoMaximo}}"
                minlength="{{campo.tamanhoMinimo}}" placeholder="" ui-mask="{{campo.mascara}}"
                ng-required="campo.obrigatorio" ng-model="campo.value"
                ng-keyup="campo.value = campo.value.toLowerCase();">

            <!-- campos de select -->

            <select ng-if="(campo.type === 'select') || (campo.type === 'text' && campo.colmaSeparatedOptions !== null)"
                class="form-control" name="{{atribuido[0].atribuicao + campo.key}}"
                id="{{atribuido[0].atribuicao + campo.key}}" ng-model="campo.value"
                ng-options="option.value as option.name for option in campo.options" ng-required="campo.obrigatorio">
            </select>

            <!-- campos de radio -->
            <!-- campos de radio inline -->

            <div class="radio" ng-if="(campo.type === 'radio') || (campo.type === 'radio-inline') "
                ng-repeat="option in campo.options">
                <label>
                    <input type="radio" id="{{atribuido[0].atribuicao + campo.key}}"
                        name="{{atribuido[0].atribuicao + campo.key}}" ng-model="campo.value" ng-value="option.value"
                        ng-required="campo.obrigatorio"> {{option.name}}</label>
            </div>

            <!-- campos de booleano -->

            <div class="radio" ng-if="(campo.type === 'boolean')">
                <label>
                    <input type="radio" id="{{atribuido[0].atribuicao + campo.key}}"
                        name="{{atribuido[0].atribuicao + campo.key}}" ng-model="campo.value" ng-value="false"
                        ng-required="campo.obrigatorio"> {{'Não' | translate}}
                </label>
            </div>

            <div class="radio" ng-if="(campo.type === 'boolean')">
                <label>
                    <input type="radio" id="{{atribuido[0].atribuicao + campo.key}}"
                        name="{{atribuido[0].atribuicao + campo.key}}" ng-model="campo.value" ng-value="true"
                        ng-required="campo.obrigatorio"> {{'Sim' | translate}}
                </label>
            </div>


            <span class="material-icons form-control-feedback"
                ng-if="userForm[atribuido[0].atribuicao + campo.key].$invalid">clear</span>

        </div>
    </fieldset>
    <div ng-if="userForm.$error.required || userForm.$error.parse || userForm.$error.mask || userForm.$error.email"
        class="alert alert-danger">
        <div class="alert-icon">
            <i class="material-icons">error_outline</i>
        </div>
        Para prosseguir preencha o(s) campo(s)
        <ul>
            <li ng-repeat="erros in userForm track by erros.$name" ng-if="erros.$error | objLength"><span
                    translate="{{erros.$name | inputErrorLabel}}"></span></li>
        </ul>
        <br>
        Campos com erro se encontram marcados com um X
    </div>
    <button type="submit" class="btn btn-primary" ng-disabled="submitting || userForm.$invalid"
        ng-show="canSubmit()"><span translate>Enviar</span></button>
</form>

<br>